@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenidos</h1>
</div>

<h4 class="mb-3">Descripción del proyecto</h4>

<p>Sitio web en asp.net.</p>
<p>CRUD’s para cada una de las tablas del modelo (sin ENTITY FRAMEWORK).</p>

<h6>Modelo realcional de Base de datos</h6>
<p>
    <img src="~/imagenes/modeloBD.png" alt="Modelo Relacional de Base de Datos" class="img-fluid" />
</p>

<h6>Caracteristicas:</h6>
<p>
    1. DropDownList de Países: Debe cargar todos los nombres de los PAISES.<br />
    2. DropDownList de Ciudades. Debe cargar todos los nombres de las CIUDADES que pertenezcan al PAIS seleccionado en el dropdownlist de paises.<br />
    3. GridView Mostrando los 4 primeros registros de la tabla GIROS que pertenezcan a la ciudad seleccionada en el dropdownlist de Ciudades.<br />
    Al cambiar la selección del país se debe cambiar automáticamente el contenido del DropDownList de Ciudades y el contenido del GridView.<br />
    También al Cambiar la Selección en el DropDownList de ciudades se debe cambiar el contenido del GridView
</p>
