
@model List<SelectListItem>

@{
    ViewData["Title"] = "Paises";
}

<h1 class="mb-4">Paises</h1>

<p>
    <a asp-action="GuardarPais" class="btn btn-primary">Crear país</a>
</p>

<h4>lista Paises</h4>
<div class="row">
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th class="col-md-4">Id</th>
                <th class="col-md-4">Pais</th>
                <th >Opciones</th>
            </tr>
        </thead>

        <tbody id="listadoPaises"></tbody>
    </table>
</div>


@section Scripts{

<script>

    $(document).ready(function () {

        obtenerPaises();
    });

    function obtenerPaises() {

        fetch("@Url.Content("~/Paises/ObtenerPaises")")
            .then(function (result) {
                if (result.ok) {
                    return result.json();
                }
            })
            .then(function (data) {

                console.log(data);
                cargarGridPaises(data);
            });
    }

    function cargarGridPaises(data) {
        $("#listadoPaises").html("");

        for (var i = 0; i < data.length; i++) {
            var tr = `
                        <tr>
                        <th>`+ data[i].idPais + `</th>
                        <th> `+ data[i].nombre + `</th>
                        <td>
                        <button  class="btn btn-warning" onclick="editarCiudad(`+ data[i].id + `)"><i class="fas fa-edit"></i> Editar</button>
                        <button class="btn btn-danger" onclick="eliminarCiudad(`+ data[i].id + `)"><i class="far fa-trash-alt"></i> Eliminar</button>
                        </td>
                    </tr>
                    `;
            $("#listadoPaises").append(tr);
        }
    }

</script>

}