@*@model IEnumerable<PaisesModels>*@
@*@model AppGiros.Models.PaisesModels*@
@model List<SelectListItem>

@{
    ViewData["Title"] = "Paises";
}

<h1>Paises</h1>

<p>
    <a asp-action="GuardarPais" class="btn btn-primary">Crear país</a>
</p>

<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <div class="form-group">
            Pais
            @Html.DropDownList("Paises", Model, new { @class = "form-control", id="idPais" }) @*// Alarga los botones*@
        </div>
        <div class="form-group">
            Ciudad
            <select id="ciudad" name="ciudad" class="form-control"></select>
        </div>
    </div>
</div>

<br />
<br />

<h4>lista de Giros por pais y ciudad</h4>
<div class="row">
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">GIR_GIRO_ID</th>
                <th scope="col">GIR_RECIBO</th>
                <th scope="col">GIR_CIUDAD_ID</th>
            </tr>
        </thead>

        <tbody id="cuerpoGiros"></tbody>
    </table>
</div>



@section Scripts{

<script>
    var listaGiros = [];
    var idCiudad= "";
    var cboPais = document.getElementById("idPais");
    var cboCiudad = document.getElementById("ciudad");

    cboPais.addEventListener("change", obtenerCiudades);
    cboCiudad.addEventListener("change", obtenerGiros);

    // Llena la lista de ciudades según el país seleccionado
    function obtenerCiudades() {
        var idPais = cboPais.value;
        fetch("@Url.Content("~/Ciudad/GetCiudades")" + "?idPais=" + idPais)
            .then(function (result) {
                if (result.ok) {
                    return result.json();
                }
            })
            .then(function (data) {

                cboCiudad.innerHTML = ""; // Limpiar las opciones anteriores
                 console.log("datos", data); 

                // Agregar opciones
                data.forEach(function (element) {
                    let eOption = document.createElement("option");
                    eOption.appendChild(document.createTextNode(element.text));
                    eOption.value = element.value;
                    cboCiudad.appendChild(eOption);
                });

                // obtner datos de giros
                obtenerGiros();
            });
    }

    // Actualiza los datos de la tabla según la ciudad seleccionada
    function obtenerGiros() {
        idCiudad = cboCiudad.value;
        fetch("@Url.Content("~/Giros/GetGiros")" + "?idCiudad=" + idCiudad)
            .then(function (result) {
                if (result.ok) {
                    return result.json();
                }
            })
            .then(function (data) {

                //console.log("Datos tabla", data);
                cargarGridGiros(data);
            });
    }

    // Ejecutar para llenar la lista de ciudades al cargar la página
    obtenerCiudades();

    function cargarGridGiros(data) {
        $("#cuerpoGiros").html("");

        for (var i = 0; i < data.length; i++) {
            var tr = `
                    <tr>
                    <th>`+ data[i].value + `</th>
                    <th> `+ data[i].text + `</th>
                    <th> `+ idCiudad + `</th>
                    <td>
                    </td>
                </tr>
                `;
            $("#cuerpoGiros").append(tr);
        }
    }

</script>

}